# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
FolderStructure.txt
Twitter.js
# testing
/coverage
src/api/users_test.js
src/api/org_test.js
src/api/permissions_test.js
# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
build/
build.pem