@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behaviour: smooth;
}

.react-modal-sheet-container {
    background-color: black !important;
}

.react-modal-sheet-backdrop {
    background-color: transparent !important;
    backdrop-filter: blur(3px) !important;
}

/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}